@model List<TaskData> // passing in the task data to be used in the view

<!-- Below is a quadrant view. 4 divs with lists inside of them using the grid layout to display neater
     You will notice that we always have to check that the data is there, otherwise it will display noth
-->
<div class="container mt-5">
    <div class="text-center mb-4">
        <h2>Stephen Covey's Time Management Matrix</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="border p-3">
                <h4>Urgent & Important</h4>
                <div class="border-top">
                    <strong>Quadrant 1</strong>
                    <ul class="list-unstyled">
                        @if (ViewBag.Quadrant1 != null)
                        {
                            @foreach (var item in ViewBag.Quadrant1)
                            {
                                <!-- a for each loop to display all data needced on this view-->
                                if (item.Completed == 0)
                                {
                                    <li class="row bd-highlight align-items-center">
                                        <div class="col-5">@item.TaskName</div>
                                        <div class="col-3">
                                            @{
                                                string categoryName = "N/A";
                                                foreach (CategoryData x in ViewBag.Categories)
                                                {

                                                    if (item.CategoryId == x.CategoryId)
                                                    {
                                                        categoryName = x.CategoryName != null ? x.CategoryName : "N/A";
                                                    }
                                                }
                                                @categoryName
                                            }
                                        </div>
                                        <div class="col-1"><a asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a></div>
                                        <div class="col-1"><a asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a></div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border p-3">
                <h4>Important & Not Urgent</h4>
                <div class="border-top">
                    <strong>Quadrant 2</strong>
                    <ul class="list-unstyled">
                        @if (ViewBag.Quadrant2 != null)
                        {
                            foreach (var item in ViewBag.Quadrant2)
                            {
                                if (item.Completed == 0)
                                {
                                    <li class="row bd-highlight align-items-center">
                                        <div class="col-5">@item.TaskName</div>
                                        <div class="col-3">
                                            @{
                                                string categoryName = "N/A";
                                                foreach (CategoryData x in ViewBag.Categories)
                                                {
                                                    if (item.CategoryId == x.CategoryId)
                                                    {
                                                        categoryName = x.CategoryName != null ? x.CategoryName : "N/A";
                                                    }
                                                }
                                                @categoryName
                                            }
                                        </div>
                                        <div class="col-1"><a asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a></div>
                                        <div class="col-1"><a asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a></div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border p-3">
                <h4>Urgent & Not Important</h4>
                <div class="border-top">
                    <strong>Quadrant 3</strong>
                    <ul class="list-unstyled">
                        @if (ViewBag.Quadrant3 != null)
                        {
                            @foreach (var item in ViewBag.Quadrant3)
                            {
                                if (item.Completed == 0)
                                {
                                    <li class="row bd-highlight align-items-center">
                                        <div class="col-5">@item.TaskName</div>
                                        <div class="col-3">
                                            @{
                                                string categoryName = "N/A";
                                                foreach (CategoryData x in ViewBag.Categories)
                                                {
                                                    if (item.CategoryId == x.CategoryId)
                                                    {
                                                        categoryName = x.CategoryName != null ? x.CategoryName : "N/A";
                                                    }
                                                }
                                                @categoryName
                                            }
                                        </div>
                                        <div class="col-1"><a asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a></div>
                                        <div class="col-1"><a asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a></div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border p-3">
                <h4>Not Important Or Urgent</h4>
                <div class="border-top">
                    <strong>Quadrant 4</strong>
                    <ul class="list-unstyled">
                        @if (ViewBag.Quadrant4 != null)
                        {
                            @foreach (var item in ViewBag.Quadrant4)
                            {
                                if (item.Completed == 0)
                                {
                                    <li class="row bd-highlight align-items-center">
                                        <div class="col-5">@item.TaskName</div>
                                        <div class="col-3">
                                            @{
                                                string categoryName = "N/A";
                                                foreach (CategoryData x in ViewBag.Categories)
                                                {
                                                    if (item.CategoryId == x.CategoryId)
                                                    {
                                                        categoryName = x.CategoryName != null ? x.CategoryName : "N/A";
                                                    }
                                                }
                                                @categoryName
                                            }
                                        </div>
                                        <div class="col-1"><a asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a></div>
                                        <div class="col-1"><a asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a></div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>